@import url(https://fonts.googleapis.com/css?family=Outfit);

body {
  background: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  font-weight: 300px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  background: white;

  /* 100vh means 100% of viewport height. */
  min-height: 100vh;
}

.card {
  background: hsl(216, 50%, 16%);

  /* Width is only as wide as image. */
  max-width: 300px;
  max-height: 75vh;
}

.equilibrium {
  width: 300px;
  height: 300px;
}

.text {
  background: gray;
}

.header {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-weight: 400px;
}

.info {
  background: purple;

  /* Even if parent is a flexbox,
  children still have to be declared as a flex item. */
  display: flex;
  justify-content: space-between;
}

.info .left {
  display: flex;
  align-items: center;
  gap: 5px;

  background: yellow;
  color: hsl(178, 100%, 50%);
  font-weight: 900px;
  font-size: 15px;
}

.info .right{
  display: flex;
  align-items: center;
  gap: 5px;

  background: green;
  font-size: 15px;
}

.footer {
  display: flex;
  align-items: center;
  gap: 10px;
  
  background: cyan;
  font-size: 15px;
}

.author {
  width: 30px;
  height: 30px;
}

.name {
  color:hsl(0, 0%, 100%);
}