@import url(https://fonts.googleapis.com/css?family=Outfit);

body {
    background: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    font-weight: 300px;
}

.card {
    background: hsl(216, 50%, 16%);
}

.equilibrium {
    width: 300px;
    height: 300px;
}

.text {
    background: gray;
}

.header {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 400px;
}

.info {
    background: purple;
}

.info .left {
    background: yellow;
    font-weight: 900px;
    color: hsl(178, 100%, 50%);
    font-size: 15px;
}

.info .right{
    background: green;
    font-size: 15px;
}

.footer {
    background: cyan;
    font-size: 15px;
}

.author {
    width: 30px;
    height: 30px;
}

.name {
    color:hsl(0, 0%, 100%);
}